$spacing-1: 8px;
$spacing-2: 12px;
$spacing-3: 18px;
$spacing-4: 34px;
$spacing-5: 48px;
$spacing-6: 60px;

$white: #fff;
$grey-lighter: hsl(210, 5%, 96%);
$grey-light: hsl(210, 5%, 87%);
$grey: hsl(203, 7%, 60%);
$grey-dark: hsl(210, 5%, 39%);
$grey-darker: hsl(210, 5%, 12%);

$primary-dark-1: hsl(238, 99%, 18%);
$primary-dark-2: hsl(233, 99%, 40%);
$primary: hsl(230, 98%, 64%);
$primary-light-2: hsl(225, 100%, 71%);
$primary-light-1: hsl(223, 100%, 88%);

$secondary: hsl(5, 100%, 60%);

$bg-error: hsla(3, 98%, 75%, 0.8);
$text-error: hsl(3, 98%, 30%);

$fs-small: 14px;
$fs-body: 16px;
$fs-medium: 18px;
$fs-title: 22px;
$fs-heading: 28px;
$fs-big: 42px;

$ff-body: 'Open Sans', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', 
  Helvetica, Tahoma, Arial, sans-serif;
$ff-heading: 'Poppins', 'Trebuchet MS', sans-serif;
// $ff-heading: cursive;